.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column; // stack of info
}

.app__work-portfolio {
    // list of projects 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    .app__work-item {
        // the white box and pic
        width: 80%;
        flex-direction: column;

        margin: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;

        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        }

        @media screen and (min-width: 1000px) {
            // when it exceeds 800px
            width: 650px;
            padding: 1.25rem;
            border-radius: 0.75rem;

        }

        @media screen and (max-width: 300px) {
            // v small screens
            width: 100%;
            margin: 1rem;
        }
    }
}

.app__work-img {
    width: 100%;
    //height: 230px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    // justify-content: center;
    position: relative; // this is needed for the .hover to work

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    // @media screen and (min-width: 2000px) {
    //     height: 350px;
    // }
}

.app__work-hover {
    position: absolute;
    //position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            width: 50%;
            height: 50%;
            color: var(--white-color);
        }
    }
}

.app__work-content {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h2 {
        margin-bottom: 0.5rem;
        padding: 1rem;
        line-height: 1.5;
        color: var(--black-color);
        font-weight: bold;
        font-size: 25px;

        @media screen and (min-width: 2000px) {
            margin-top: 3rem;
        }
    }

    h5 {
        white-space: break-word;
        // white-space: pre;
        align-self: flex-start;
        color: var(--gray-color);
        font-size: 15px;
        span {
            color: var(--gray-color);
            font-weight: 100;
            font-size: 15px;
        }
    }
    p {
        font-size: 15px;
        color: var(--black-color);
    }
      

}